{{ include('head.html') }}
{{ include('navbar.html') }}      
{{ include('inside_body.html') }}

		{{ form_start(form) }}
			{{ form_widget(form) }}

			{% if majMode %}
				<button type="submit" class="btn btn-warning">Modifier</button>
			{% else  %}
				<button type="submit" class="btn btn-success">Ajouter</button>
			{% endif %}
		{{ form_end(form) }}
		
        {% block javascripts %}{% endblock %}

{{ include('footer.html') }}
